.chat-header{
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: black;
  }
  
  .user-chat{
    box-sizing: border-box;
    padding-left: 1%;
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
    color: white;
    
  }
  .user-chat h3{
    font-weight: 500;
  }
  
  .user-profile{
    height: 80%;
    margin-right: 4%;
    width: 20%;
    border-radius: 100px;
    background-color: rgb(180, 180, 180);
  }

.options-chat{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    padding-right: 5%;
    height: 100%;
  }
  