@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --cyan: #5CE1E6;
    --blue: #38B6FF;
    --pink: #D88B92;
    --off-white: #F2F2F2;
    --pure-black: #000000;
    --pure-black-transparent: #000000b2;
    --dark-color: #333333;
    --btn-green: #27AE60;
    --font-defaut: 'Inter', monospace;
    --font-dark-color: #383838;
    --purple: #5662B7;
    --light-color: #f2f2f2;
    --light-color-2: #6E6E6E;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}


.checklist{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    margin-top: 45px;
}
.checklist img{
    height: 40px;
    margin-right: 20px;
}
/* PARTE CONTAINER CHATTE  */

#imgBg img{
    width: 100%;
    height: 760px;
    position: absolute;
}


#chatte {
    width: 100%;
    position: relative;    
    display: flex;
    align-items: center;   
    justify-content: flex-start;
    margin-top: 150px;
}

#chatte h1 {
    font-size: 9.0rem;
    font: bold;
    color: var(--light-color);
    text-shadow: #000 2px 3px 2px;
}

#chatte h5 {
    width: 30%;
    font-size: 1.2rem;
    font: italic;
    color: var(--light-color);
    margin-top: 10px;
}

#btnChatte {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

a{
    text-decoration: none;
}

#btnIniciar div {
    width: 100%;
    height: 100%;
}

#btnIniciar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 100px;
    background-color: var(--off-white);
    border-radius: 8px;
    margin-top: 15px;
    transition: 0.5s;
}

#btnSobre {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 100px;
    background-color: var(--off-white);
    border-radius: 12px;
    margin-top: 15px;
    margin-left: 15px;    
    transition: 0.5s;
}

#btnIniciar:hover {
    background-color: var(--light-color);
    filter: opacity(0.5);
    border-style: 3px solid ;
    border-color: white;
    height: 35px;
    width: 100px;
}

#btnSobre:hover {
    background-color: var(--light-color);
    filter: opacity(0.5);
    border-style: 3px solid ;
    border-color: white;
    height: 35px;
    width: 100px;
}

#textIniciar {
    color: var(--pure-black);
    font-size: 0.8rem;
    font-weight: bold;
}

/* PARTE CONTAINER FUNÇÕES */

#funcoes {    
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #333333;
    display: flex;
    margin-top: 200px;
    align-items: center;
    justify-content: space-evenly;
}

#funcoes h1{
    font-size: 5.5rem;
    font-weight: bold;
    color: var(--light-color);
}

#textFunc {
    display: flexbox;
    align-items: center;
    width: 500px;
}


/* PARTE CONTAINER COMUNICAÇÃO */
#comunicacao {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#containerComunicacao{
    width: 500px;
    height: 200px;
}

#containerComunicacao h1{
    color: var(--pure-black);
    font-size: 3.0rem;
    font-weight: bold;
    margin-bottom: 5px;
}

#containerComunicacao h5{
    color: var(--pure-black);
    font-size: 1.5rem;
    font-weight: bold;
}
#containerChatte{
    box-sizing: border-box;
    padding-left: 10%;
}

/* PARTE CONTAINER SALAS */
#salas {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#containerSala {
    width: 400px;
    
}

#containerSala h1 {
    color: var(--light-color);
    font-size: 5.0rem;
    font-weight: bold;
}

#containerSala h5 {
    color: var(--light-color);
    font-size: 1.2rem;
    font-weight: bold;

}

#containerBaixo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}

#containerBaixo h2{
    color: var(--light-color);
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#salas img{    
    width: 600px;
}

#containerBaixo h6 {
    color: var(--light-color);
    font-size: 0.8rem;
    font-weight: bold;
}

#squads {
    display: flexbox;
    align-items: flex-start;
    justify-content: flex-start;
    width: 150px;
}

#privados {
    display: flexbox;
    align-items: flex-end;
    justify-content: flex-end;
    width: 150px;
    margin-left: 100px;
}

/* PARTE CONTAINER CONHECA */
#conheca {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #E8EDE9;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#conheca img{
    width: 600px;
}


#containerConheca {
    width: 500px;
    display: flexbox;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    margin-right: 70px;
}


#containerConheca h1{
    color: var(--pure-black);
    font-size: 5.0rem;
    font-weight: bold;
    margin-left: 20px;
}

#containerTextConheca {
    width: 400px;
    margin-left: 100px;
}

/* PARTE CONTAINER BAIXE AGORA */
#baixe {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

#containerBaixe{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
#containerBaixe h1{
    font-size: 80px;
}
#containerBaixe h5{
    font-size: 20px;
}
.app-icons {
    display: flex;
    align-items: center;
  }
  .vertical {
    width: 300px;
    flex-direction: column;
  }
  .android {
    width: 150px;
  }
  .apple {
    width: 130px;
  }




/* PARTE CONTAINER FOOTER */

#footer{
    position: relative;
    width: 100%;
    height: 20vh;
    background-color: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#footer h1{
    color: var(--light-color);
    font-size: 1.0rem;
    font-weight: bold;
}

#copyright {
    color: var(--light-color);
    font-weight: bold;
}

#footer h5{
    color: var(--light-color);
    font-size: 1.0rem;
    
}

/* RESPONSIVIDADE */

@media screen and (max-width:768px){
    #chatte {
        width: 50%;
        position: relative;
    }
}