@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cyan: #5CE1E6;
    --blue: #38B6FF;
    --pink: #D88B92;
    --off-white: #F2F2F2;
    --pure-black: #000000;
    --pure-black-transparent: #000000b2;
    --dark-color: #333333;
    --btn-green: #27AE60;
    --font-defaut: 'Inter', monospace;
    --font-dark-color: #2C2C2C;
    --purple: #5662B7;
    --light-color: #f2f2f2;
    --light-color-2: #6E6E6E;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* PARTE DA NAV */
header {
    background-color: var(--font-dark-color);
    position: relative;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: bold;
    transition: 0.5s;
}

.login-button {
    transition: 0.5s;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--light-color);
}

.login-button button a {
    text-decoration: none;
    color: var(--light-color-2);
    font-weight: 500;
    font-size: 1.1rem;
}

.login-button:hover {
    filter: opacity(0.5);
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.nav-link:hover,
.nav-link:focus {
    color: #FFC200;
}


.valores {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nossos-valores {
    height: 100px;
    display: flex;
    padding-left: 7%;
    padding-top: 8%;
    margin-bottom: 7%;
    font-size: 30px;
    width: 100%;
}

.enfase{
    color: #F72585;
}

.textValores {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 210px;
    width: 100%;
}

.box {
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    padding: 1%;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #2C2C2C;
    box-shadow: 4px -1px 6px 3px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.box h1 {
    font-size: 24px;
    margin-bottom: 3%;
}

.box h5 {
    font-size: 14px;
}

#destaque {
    color: #F72585;
    font-weight: bold;
    font-size: 40px;
}

#pronto {
    font-size: 40px;
    font-weight: bold;
    color: #FFC200;
}


#btnCadastrar {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 7vh;
    background-color: rgba(217, 217, 217, 0.2);
    border: 1px solid var(--pure-black);
    font-size: 15px;
    font-weight: 550;
    border-radius: 4px;
    box-shadow: 1px 1px 5px gray;
    transition: 0.7s;
}

#btnCadastrar:hover {
    background-color: rgba(217, 217, 217, 1);
    height: 8vh;
}

#btnCadastrar a {
    color: var(--pure-black);
    text-decoration: none;
}


#baixo {
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-right: 5%;
    padding-left: 6%;
}

#textFinal {
    width: 300px;
    height: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#containerFinal {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-right: 80px;
}

#containerFinal h1 {
    margin-bottom: 50px;
    width: 400px;
    font-size: 15px;
}

#containerFinal h5 {
    margin-top: 30px;
}

#containerFinal h5,
h6 {
    font-size: 15px;
}

#footer {
    position: relative;
    width: 100%;
    height: 20vh;
    background-color: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#footer h1 {
    color: var(--light-color);
    font-size: 1.0rem;
    font-weight: bold;
}

#copyright {
    color: var(--light-color);
    font-weight: bold;
}

#footer h5 {
    color: var(--light-color);
    font-size: 1.0rem;

}


@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
        transition: 0.5s;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }
}